<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huaxiaerp.huaxia_erp.datasource.mappers.DepotMapper">
   <!-- 条件查询仓库-->
   <select id="getAllLikeNameOrLikeRemake" resultType="cn.huaxiaerp.huaxia_erp.datasource.po.Depot">
      select name, address, warehousing, truckage, principal, remark, sort, enabled, is_default
      from jsh_depot
      <where>
         <if test="name != null and name != ''">
            and name like concat('%', #{name}, '%')
         </if>
         <if test="remark != null and remark != ''">
            and remark like concat('%', #{remark}, '%')
         </if>
      </where>
   </select>
</mapper>
